In [1]:
# imporing required libraries

import pandas as pd

import numpy as np

import seaborn as sns

from sklearn.model_selection import StratifiedShuffleSplit

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

from sklearn.preprocessing import LabelEncoder

In [2]:
# reading the train and test files

df=pd.read_csv('/home/rahul/Downloads/loan/train_ctrUa4K.csv')

test=pd.read_csv('/home/rahul/Downloads/loan/test_lAUu6dG.csv')

t=pd.read_csv('/home/rahul/Downloads/loan/test_lAUu6dG.csv')

In [3]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
# removing the Loan_ID column as it is not a feature

df.drop(columns='Loan_ID',inplace=True)

test.drop(columns='Loan_ID',inplace=True)

In [5]:
# mapping Loan_Status to numerical value

df['Loan_Status']=df['Loan_Status'].map({'Y':1,'N':0})

In [6]:
#filling the missing values in the object columns with mode

obcols=(df.dtypes[df.dtypes==object]).index

testcols=(test.dtypes[test.dtypes==object]).index

for x in obcols:
     
        df[x][df[x].isna()] = df[x].mode()[0]

for x in testcols:
     
        test[x][test[x].isna()] = test[x].mode()[0]

/home/rahul/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/rahul/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [7]:
# filling the missing values of numerical column with next valid values

numcols=(df.dtypes[df.dtypes!=object]).index

testnumcols=(test.dtypes[test.dtypes!=object]).index

for i in numcols:
    
    df[i].fillna(method='bfill', inplace=True)

for i in testnumcols:
    
    test[i].fillna(method='bfill', inplace=True)

In [8]:
# lable encoding the categorical data

le = LabelEncoder()

for i in obcols:
    
    df[i] = le.fit_transform(df[i])

for i in testcols:    
    
    test[i]=le.fit_transform(test[i])

df.head(10)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,0,0,5849,0.0,128.0,360.0,1.0,2,1
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1
6,1,1,0,1,0,2333,1516.0,95.0,360.0,1.0,2,1
7,1,1,3,0,0,3036,2504.0,158.0,360.0,0.0,1,0
8,1,1,2,0,0,4006,1526.0,168.0,360.0,1.0,2,1
9,1,1,1,0,0,12841,10968.0,349.0,360.0,1.0,1,0

In [9]:
y=df['Loan_Status']

x=df.drop(['Loan_Status'],axis=1)

In [10]:
sss = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

for train, test1 in sss.split(x, y):
    
    x_train, x_test = x.iloc[train], x.iloc[test1]
    
    y_train, y_test = y.iloc[train], y.iloc[test1]

In [11]:
classifier=LogisticRegression()

classifier.fit(x_train,y_train)

/home/rahul/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [12]:
y_pred=classifier.predict(x_test)

In [13]:
confusion_matrix(y_test,y_pred)

array([[22, 16],
       [ 2, 83]])

In [14]:
accuracy_score(y_test,y_pred)

0.8536585365853658

In [15]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.92      0.58      0.71        38
           1       0.84      0.98      0.90        85

    accuracy                           0.85       123
   macro avg       0.88      0.78      0.81       123
weighted avg       0.86      0.85      0.84       123

In [16]:
t['Loan_Status'] = classifier.predict(test)

t['Loan_Status']=t['Loan_Status'].map({0:'N',1:'Y'})

t[['Loan_ID','Loan_Status']].to_csv('/home/rahul/Downloads/loan/submission.csv', index = False)